[Unit]
Description=A2DP Bluetooth Agent
After=bluetooth.service
Wants=bluetooth.service

[Service]
ExecStart=/root/iAP-to-AVRCP/a2dp-agent
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=A2DP-Agent

[Install]
WantedBy=multi-user.target
