[Unit]
Description=iPod to Bluetooth
After=bt-agent.service bluealsa-aplay.service

[Service]
ExecStart=/root/iAP-to-AVRCP/iAP-to-AVRCP.py
Type=simple

[Install]
WantedBy=multi-user.target
